.visible {
    border-color: #3f51b5 !important;
}

.ui.active.fluid.search.selection.dropdown.inputStyle:focus {
    font-size: 18px;
    border-color: #3f51b5 !important;
}

.field {
    font-size: 18px !important;
}