.dropzone {
    font-size: 20px;
    border: 2px dashed #bbb;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    color: #bbb;
}

.wrongFile {
    font-size: 20px;
    border: 2px dashed rgb(255, 0, 0);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    color: rgb(255, 0, 0);
}

.imageWrap {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    border: 1px solid red;
    height: 100px;
    
}






/* 

.thumbsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 16;
}

.thumb {
    display: inline-flex;
    border-radius: 2;
    border: 1px solid #eaeaea;
    margin-bottom: 8;
    margin-right: 8;
    width: 100;
    height: 100;
    padding: 4;
    box-sizing: border-box;
}

.thumbInner {
    display: flex;
    min-width: 0;
    overflow: hidden;
}

.uploadedImage {
    display: block;
    width: auto;
    height: 100%;
} */